.overlay {
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay-content {
  background: #FCFCFC;
  border: 1px solid #CCC;
  padding: 15px 30px;
  font-size: 18px;
}